.pagination .pagination-list {
  @apply flex justify-start mt-4;
}

.pagination .pagination-link {
  @apply block py-1 px-3 border border-gray-300 text-gray-500 cursor-pointer transition duration-700 hover:text-white hover:bg-orange-600 hover:border-orange-600;
}

.pagination .pagination-link.active {
  @apply text-white bg-orange-600 border-orange-600;
}

.pagination .pagination-link.disabled {
  @apply cursor-default text-gray-500 hover:bg-white hover:border-gray-200;
}
